/*------------------------------- ELEMENTS------------------------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #2b5949;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}

footer {
  flex: 2;
  text-align: right;
  color: #1CAC78;
  margin-right: 5px;
  font-size: 2em;
}


.main {
  flex: 7;
}


.grid4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

}

/*----------------------------CARDS------------------------------*/
.card {
  width: 600px;
}

.card-title {
  color: #1CAC78;
}

.card-text {
  font-weight: 800;
}

img {
  border-radius: 5%;
  width: 100%;
  height: auto;
  max-width: 300px;

}

/*----------------------------IMAGES------------------------------*/

.tile-image {
  border-radius: 5%;
  float: left;
  margin-right: 20px;
  height: 240px;
}

@media (max-width: 600px) {
  .tile-image {
    display: none;
  }

  .card {
    border: black solid 5px;
    padding: 5px;
  }

  .card-title {
    text-align: center;
  }

}

.brighten img {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.brighten img:hover {
  -webkit-filter: brightness(100%);
}